<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>edit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="editForm" (ngSubmit)="onEdit(editForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input formControlName="phone" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-col size="12">
            <img [src]="url">
          </ion-col>
          <ion-item>
            <ion-icon name="add-outline" (click)="openImageInput()"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" color="danger" expand="block" >Edit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
